/* GLOBALS */

.bg-body-tertiary {
    background-color: black !important;
}

.titles {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
}

.btn-global {
  position: relative;
  width: 100px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #232625;
  border-radius: 10px;
  background-color: #232625;
  text-decoration: none;
  justify-content: center;
  padding: 0 30px;
  color: white;
}

/* GLOBALS END */



/* NAVBAR */

.navbar-toggler {
    border-color: transparent;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.nav-link {
    color: white !important;
}

/* NAVBAR END */



/* INICIO */

.header-frase h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 30px 0;
    font-weight: bold;
}

.header-texto p {
    font-size: 1rem;
    text-align: center;
    padding: 0 20px;
}

.card {
  border: none;
}

.card img {
  height: 600px;
  object-fit: cover;
}

.card-body {
  background-color: black;
  margin: 3px 0 0 0 !important;
  color: white;
  border-radius: 0 0 5px 5px; 
}

.destacados-title {
  text-align: center;
  margin: 50px 0;
  font-size: 1.9rem;
  font-weight: bold;
}


.carousel-control-next-icon {
  color: black !important;
}

.carousel-control-prev {
  color: black !important;
}

/* INICIO END */



/* FOOTER */

footer {
  background: black;
  border-top-style: solid;
  border-top-width: 0.12rem;
  border-color: black;
}

.element-footer {
  background-color: white;
  padding: 20px 0 10px 20px;

}

.element-footer h3 {
  margin-bottom: 30px;
  font-weight: bold;
}

.contact-info{
  list-style: none;
  padding-left: 10px;
}

.contact-item {
  position: relative;
  margin-bottom: 10px;
}

.contact-item a{
  text-decoration: none;
  color: black;
  padding-left: 10px;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 15px;
  text-align: center;
}

.icon-footer {
  display: flex;
  margin: 20px;
}

.icon-images {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.icon-images li {
  list-style: none;
}
.icon-images a {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
}
.icon-images a:hover {
  color: #A4A69C;
  transition: all 1s;
}

/* FOOTER END */



/* PRODUCTOS */

.card {
  margin: 0 auto;
  margin-bottom: 20px;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 5px 16px;
}

/* PRODUCTOS END */



/* CONTACTO */

.form {
  margin: 20px 20px;
}

/* CONTACTO END */

/* BREAKPOINTS */

@media (width > 600px) {
  
  /* INICIO */
  
  .header-texto p{
    font-size: 1.2rem;
    padding: 0 30px;
    margin-bottom: 50px;
  }

  .card {
    width: 24rem !important;
  }

  .destacados-title {
    font-size: 2.6rem;
  }

  /* PRODUCTOS */

  .titles {
    font-size: 2.4rem;
  }

  .card-title {
    font-size: 1.6rem;
  }

  .card-text {
    font-size: 1.2rem;
  }

  .btn-global {
    font-size: 1.2rem;
  }

  /* CONTACTO */

  .form-label {
    font-size: 1.2rem;
  }

  .form-control {
    height: 40px;
  }

  /* FOOTER */

  .element-footer h3 {
    font-size: 2.4rem;
  }

  .element-footer a {
    font-size: 1.4rem;
  }

  .footer-info h3{
    font-size: 2rem;
  }

  .footer-info p {
    font-size: 1.3rem;
  }
}




@media (width > 720px) {

  /* NAV */

  .navbar-brand img{
    width: 100px;
    height: 100px;
  }

  .navbar-toggler-icon {
    width:65px;
    height: 65px;
  }

  .nav-link {
   padding-top: 25px;
    font-size: 2rem;
  }

  /* INICIO */
  
  .header-frase h1{
    font-size: 2.8rem;
  }

  .header-texto p{
    font-size: 1.6rem;
    padding: 0 30px;
    margin-bottom: 50px;
  }

  .card {
    width: 38rem !important;
    margin-top: 50px;
  }

  .card img{
    height: 900px;
  }

  .destacados-title {
    font-size: 3.4rem;
    padding-top: 40px;
  }

  /* PRODUCTOS */

  .titles {
    font-size: 3.4rem;
  }

  .card-title {
    font-size: 2.8rem;
  }

  .card-text {
    font-size: 2rem;
    padding: 20px 40px;
  }

  .btn-global {
    font-size: 2.2rem;
    padding: 40px;
    width: 200px;
  }

  /* CONTACTO */

  .form-label {
    font-size: 2.4rem;
  }

  .form-control {
    height: 80px;
    font-size: 1.9rem;
  }



  /* FOOTER */

  .element-footer h3 {
    font-size: 3rem;
  }

  .element-footer a {
    font-size: 2.5rem;
  }

  .footer-info h3{
    font-size: 3rem;
  }

  .footer-info p {
    font-size: 2rem;
  }
}



@media (width > 1365px) {

  /* NAV */

  .container {
    display: flex;
    justify-content: space-between ;
  }

  .navbar-toggler-icon {
    width:65px;
    height: 65px;
  }

  .nav-link {
   padding-top: 25px;
    font-size: 2rem;
  }

  /* INICIO */
  
  .header-frase h1{
    font-size: 3rem;
  }

  .header-texto p{
    font-size: 1.6rem;
    padding: 0 60px;
    margin-bottom: 50px;
  }

  .header-container {
    display: flex;
  }

  .card {
    width: 38rem !important;
    margin-top: 50px;
  }

  .card img{
    height: 900px;
  }

  .destacados-title {
    font-size: 3.4rem;
    padding-top: 40px;
  }

  /* PRODUCTOS */

  .titles {
    font-size: 3.4rem;
    padding: 50px;
  }

  .card-title {
    font-size: 2.4rem;
  }

  .card-text {
    font-size: 2rem;
    padding: 20px 40px;
  }

  .productos-container {
    display: flex;
  }

  .btn-global {
    font-size: 2.2rem;
    padding: 30px;
    width: 180px;
  }

  /* CONTACTO */

  .form-label {
    font-size: 2.2rem;
  }

  .form-control {
    height: 80px;
    font-size: 1.8rem;
  }



  /* FOOTER */

  footer {
    margin-top: 50px;
  }

  .element-footer {
    padding: 50px ;
  }

  .element-footer h3 {
    font-size: 3rem;
  }

  .element-footer a {
    font-size: 2.1rem;
  }

  .footer-info h3{
    font-size: 2.8rem;
  }

  .footer-info p {
    font-size: 1.9rem;
  }

  .icon-images svg {
    height: 50px;
    width: 50px;
  }
} 

@media (width > 1439px) {

  /* INICIO */

  .card-title {
    font-size: 2.1rem;
  }

  .card-text {
    font-size: 1.7rem;
    padding: 20px 40px;
  }

  .btn-global {
    font-size: 2rem;
    padding: 30px;
    width: 160px;
  }

  /* FOOTER */

  .element-footer {
    padding: 50px ;
  }

  .element-footer h3 {
    font-size: 2.7rem;
  }

  .element-footer a {
    font-size: 1.8rem;
  }

  .contact-item svg {
    width: 50px;
    height: 30px;
  }

  .footer-info h3{
    font-size: 2.5rem;
  }

  .footer-info p {
    font-size: 1.6rem;
  }

  /* CONTACTO */

  .form-label {
    font-size: 2rem;
  }

  .form-control {
    height: 50px;
    font-size: 1.5rem;
  }
}

